<template>
  <footer class="footer">
    <div class="container">
    Using the &nbsp;
    <a target="_blank" href="https://images.nasa.gov/docs/images.nasa.gov_api_docs.pdf">
      Nasa Image Search API
    </a>
    </div>
  </footer>
</template>

<script>
export default {
  name: 'Footer'
};
</script>
