<template>
    <image>
        Build with ♥ by the&nbsp;
        <a href="https://github.com/orgs/FountainJS/people">
            FountainJS team
        </a>
    </image>
</template>

<script>
    export default {
        name: 'Image'
    };
</script>
