<template>
    <div id="root">
        <div class="container">
            <h1>NASA API SEARCH</h1>
            <form @submit.prevent="getImages">
                <input type="text" v-model="searchTerm"/>
                <input type="submit" value="Search"/>
            </form>

        </div>
        <div class="images-wrap container">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-3" v-for="img in images">
                    <div class="image" v-bind:style="{ backgroundImage: 'url(' + img.links[0].href + ')' }"></div>
                </div>
            </div>
        </div>
        <footer-component></footer-component>
    </div>
</template>

<script>
    import Footer from './Footer.vue';
    import Image from './Image.vue';
    import axios from 'axios';

    const instance = axios.create({
        baseURL: 'https://images-api.nasa.gov/',
        timeout: 10000,
    });

    export default {
        name: 'Main',
        components: {
            'footer-component': Footer,
            'image': Image
        },
        data() {
            return {
                searchTerm: 'Blackhole',
                images: []
            };
        },
        methods: {
            getImages() {
                instance.get('/search?q=' + this.searchTerm + '&media_type=image')
                    .then(response => {
                        console.log(response.data.collection.items);
                        this.images = response.data.collection.items;
                    })
                    .catch(error => {
                        console.log(error);
                    });
            },
        },
        mounted() {
            this.getImages()
        }

    };
</script>
