@import "~bootstrap/scss/bootstrap.scss";

.images-wrap{
    .image{
        width: 100%;
        height: 200px;
        background-position: center center;
        background-size: cover;
        margin-bottom: 30px;
    }
}